body {
  margin: 0;
  background-color:rgb(246,247,248);
  font-family: 'Inter';
}
.header {
  height: 90px;
}
.rightContent h1 {
  font-size: 61px;
  margin-bottom: 50px;
}
.rightContent h2 {
  font-size: 27px;
  margin-bottom: 10px;
}
.legalNotice {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  left: calc(232px + 10%);
  width: calc(100% - 232px - 10% - 10%);
  padding-top: 50px;
}
.legalNotice p {
  font-size: 16px;
  margin-bottom: 50px;
}
.subtitle {
  font-size: 40px !important;
}


@media (max-width: 1000px) {
  .legalNotice {
    left: calc(160px + 10%);
    width: calc(100% - 160px - 10% - 10%);
  }
}


@media (max-width: 850px) {
  .legalNotice {
    left: 10%;
    width: calc(100% - 10% - 10%);
  }
}


@media (max-width: 620px) {
  .legalNotice {
    left: 5%;
    width: calc(100% - 5% - 5%);
    word-break: break-word;
  }
}


@media (max-width: 510px) {
  .rightContent h1 {
    font-size: 40px;
  }
  .rightContent h2 {
    font-size: 20px;
  }
  .subtitle {
    font-size: 30px !important;
  }
}


@media (max-width: 385px) {
  .rightContent h1 {
    font-size: 35px;
    margin-bottom: 40px;
  }
  .subtitle {
    font-size: 25px !important;
  }
  .legalNotice {
    align-items: center;
  }
}


@media (max-width: 322px) {
  .rightContent h1 {
    font-size: 35px;
  }
  .rightContent h2 {
    font-size: 16px;
  }
  .subtitle {
    font-size: 20px !important;
  }
}