<div id="head">
    <img class="" id="logo-head-mobil" src="assets/img/logo_main.svg" >
  <p class="join-name">Kanban Project Management Tool</p>
  <div id="user-container">
    <a href="help.html"><img id="questiontag" src="./assets/img/question.svg" /></a>
    <div onclick="showLogout()" id="user-img">
      <img class="" id="real-img" src="" />
    </div>
  </div>
</div>

<div id="popup-logout" class="d-none" onclick="showLogout()">
  <div class="logout" >
  <p onclick="logout()">Logout</p>
  <p class="menuPopMobil" onclick="locateToLegalNote()">Legal Notice</p>
  <p class="menuPopMobil" onclick="locateToHelp()">Info</p>
</div>
</div>
