<div id="nav-container">
    <div class="cont-nav">
        <img class="nav-logo" src="./assets/img/logo-nav.svg" />
        <div id="nav-items">
            <div class="nav-hover">
            <a href="summary.html" id="summary" class="nav-item">
                <img src="./assets/img/summary.svg" />
                <p>Summary</p>
            </a>
            </div>
            <div class="nav-hover">
            <a href="board.html" id="board" class="nav-item">
                <img src="./assets/img/board.svg" />
                <p>Board</p>
            </a>
            </div>
            <div class="nav-hover">
            <a href="add_task.html" id="add-task" class="nav-item">
                <img src="./assets/img/add_task.svg" />
                <p>Add Task</p>
            </a>
            </div>
            <div class="nav-hover">
            <a href="contacts.html" id="contacts" class="nav-item">
                <img src="./assets/img/contacts.svg" />
                <p>Contacts</p>
            </a>
            </div>
        </div>
    </div>
    <div class="cont-footer">
        <a href="legalnotice.html">
            <img src="./assets/img/legal_notice.png" alt="">
            <span class="nav-footer">Legal notice</span>
        </a>
    </div>
</div>